/* ================================= 
  Base Element Styles
==================================== */

* {
	box-sizing: border-box;
}

body {
	font-family: 'Aller', sans-serif;
	line-height: 1.6;
	color: #4a4a4a;
	background:white;
}

p {
	font-size: .95em;
	line-height:1.6em;
}

h1{
font-size:1.6em;	
}

h1,
h2,
h3,
a {
	color: #4a4a4a;
	text-decoration: none;
}

h2,
h3,
h4 {
	margin-top: 0;
}

h4 {
	margin-bottom: .4em;
}



a:hover	{
	font-weight:bold;
}

img {
	max-width: 100%;
}



/* ================================= 
  Base Layout Styles
==================================== */


/* ---- Layout Containers ---- */


.container {
		margin: 0 auto;
		max-width:90%;

}


.title{
	text-align:center; 
	width:100%; 
	text-transform:uppercase;
	margin-bottom:1em;
	}


/*footer sticker*/
.wrapper{
min-height:calc(100vh - 12px);
}


/*header*/

.main-header {
	padding-top: .5em;
	padding-bottom: .5em;
}

.hero{
width:100%;
background:#fafafa;
padding-bottom: .5em;
	
}

.header {
	color: #7f7f7f;
	padding: 3em 0;
	margin-bottom: 60px;
}



.banner {
	padding: 7.2em 0;
	margin-bottom: 3em;
	min-height:100%;
}

.line{
top:25%;
width:70%;
background:none;
color: #757677;
float:left;
}


.profile{
width:30%;
float:right;
right:0;
}

.profile img{
width:50%;
left:25%;
position:relative;
}

/*header*/



/*footer*/

.main-footer {
max-width:90%;
border-top:1px solid #e7e7e7;
margin:0 auto;
padding-top:1em;
padding-bottom:2em;
font-size: .9em;
}


.footermenu{
	float:right;
}
	

.footermenu li{
	display:inline-block;
	float:left;
	text-transform:uppercase;
	margin-right:1em;	
}


.rightmenu{
float:left;	
}

/*footer*/

	
/*portfolio*/	

.portfolio{
position:relative;
margin-top:6em;
min-height:100%;
width:100%;
}


.spacing{
display:table;
margin:0 auto;
width:105%;
}

.column{
width:30%;
margin-right:1.4em;
margin-bottom:1.4em;
position:relative;
float:left;
}

.info{
position:relative;
text-align:center;
width:100%;
margin-top:1em;
}

.info p{
margin-top: -.2em;	
}

/*portfolio*/



.contact{
width:100%;
margin-top:3em;
text-align:center;
min-height:20em;
}

.backtotop{display:none;}	


/* ---- Float clearfix ---- */

	.clearfix::after {
		content: " ";
		display: table;
		clear: both;
	}
	

/* ================================= 
  Media Queries - decided to use 
  max 768, max 400 (works as requested in the project)
==================================== */

@media (max-width: 768px) {

.container {
width: 90%;
margin: 0 auto;
	
}
	
.banner{
padding-top:0;
}

.line{
width:60%;	
}
	
.profile{
width:40%;
}

.profile img{
width:70%;
}


.column{
width:48%;
margin-right:.5em;
margin-bottom:1.9em;
}

.spacing{
width:100%;	
}

.info p{
margin-top: -.4em;	
}

.main-footer {
width:90%;
margin-bottom: .5em;

}

}


@media (max-width: 400px){
	
.banner {
    background: #fafafa;
	padding: 0;
	margin-bottom:0;
	min-height:100%;
}

.line{
width:100%;
text-align:center;
font-size:1.4em;
line-height:1.8em;
}

.profile{
width:100%;
margin-top:1em;
}

.profile img{
left:15%;
}

.spacing,
.column{
width:100%;	
}

.column{
margin-left:0;
}



.backtotop{
display:inline-block;
float:right;
margin-right:0;
text-transform:uppercase;
}
	
.footermenu li{
display:none;	
}

.main-footer {
width:80%;
}

.rightmenu{
padding-bottom: .5em;
}
	

}

